* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;

}

body {
  overflow-x: hidden;

}

:root {
  font-family            : Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme           : light dark;
  text-rendering         : optimizeLegibility;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.slick-prev {
  left   : 0px;
  display: none !important;
}

.slick-next {
  display: none !important;
  right  : 0px;
}

.container{
  padding: .1em 4em;
  width:100%;
  position: relative;
  z-index: 2;
 
  /* border: 3px solid red; */
}


@media only screen and (max-width: 700px) {
  .mobile {
    display: none !important;
  }
}
@media only screen and (max-width: 1000px) {
  .tablet {
    display: none !important;
  }
}
